* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.parentSection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
}

.parentSection h3 {
  font-size: 30px;
  color: white;
}

button {
  border: none;
}

.topLayer,
.midLayer,
.bottomLayer {
  display: flex;
}

.midLayer {
  margin-top: -125px;
  margin-bottom: -35px;
}

.circle {
  height: 300px;
  width: 300px;
  border-radius: 300px;
  padding: 35px;
  background: rgba(17, 42, 226, 0.85);
  position: relative;
}

.circle:hover {
  cursor: pointer;
}

.cOne {
  background-image: url(notion.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.cTwo {
  background-image: url(creation.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.cThree {
  background-image: url(growth.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.cFour {
  background-image: url(buying.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.cFive {
  background-image: url(retention.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.cSix {
  background-image: url(seo.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.cThree {
  margin: 70px -55px -50px;
}

.circle .connections span {
  position: absolute;
  z-index: 1000;
  top: 0%;
}

@keyframes toRight {
  0% {
    clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%);
    opacity: 0;
  }

  100% {
    opacity: 1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

@keyframes toLeft {
  0% {
    opacity: 0;
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  }

  100% {
    opacity: 1;
    clip-path: polygon(0% 0, 100% 0, 100% 100%, 0% 100%);
  }
}

@keyframes toBottom {
  0% {
    opacity: 0;
    clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
  }

  100% {
    opacity: 1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.smolText,
.arrowBodyRight,
.arrowBodyLeft,
.arrowBodyBottom {
  pointer-events: none;
}

.smolText {
  opacity: 0;
}

.arrowBodyRight {
  clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%);
}

.arrowBodyLeft {
  clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%);
}

.arrowBodyBottom {
  clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
}

.circle:hover .arrowBodyRight {
  animation: toRight 1s ease forwards;
}
.circle:hover .arrowBodyLeft {
  animation: toLeft 1s ease forwards;
}
.circle:hover .arrowBodyBottom {
  animation: toBottom 1s ease forwards;
}

.circle:hover .smolText {
  animation: appear 1s ease 0.5s forwards;
}

/* Top Layer */

/* C-1 */

#text1 {
  top: 70%;
  left: 30%;
}

#a33 {
  top: 35%;
  left: 85%;
}

#a34 {
  top: 35%;
  right: 85%;
}

#a35 {
  top: 70%;
  left: 70%;
}

#a35 img {
  width: 200px;
}

#a37 {
  top: 70%;
  right: 70%;
}

#a37 img {
  width: 200px;
}

#a36 {
  top: 85%;
  left: 45%;
}

/* Mid Layer */

/* C-2 */

#text2 {
  top: -25%;
  left: 45%;
}

#text3 {
  top: -10%;
  left: 165%;
}

#text4 {
  top: 15%;
  left: 110%;
}

#text5 {
  top: 35%;
  left: 80%;
}

#text6 {
  top: 65%;
  left: 75%;
}

#text7 {
  top: 100%;
  left: 120%;
}

#text8 {
  top: 120%;
  left: 60%;
}

#a26 {
  top: 85%;
  left: 65%;
}

#a26 img {
  width: 350px;
}

#a27 {
  top: 75%;
  left: 75%;
}

#a27 img {
  width: 320px;
}

#a28 {
  top: 55%;
  left: 80%;
}

#a29 {
  top: 45%;
  left: 80%;
}

#a30 {
  top: -20%;
  left: 55%;
}

#a31 {
  top: 10%;
  left: 70%;
}

#a31 img {
  width: 320px;
}

#a32 {
  top: 0%;
  left: 65%;
}

#a32 img {
  width: 350px;
}

/* C-3 */

#text9 {
  top: -10%;
  left: 35%;
}

#text10 {
  top: 15%;
  left: -5%;
}

#text11 {
  top: 45%;
  left: -10%;
}

#text12 {
  top: 15%;
  right: -5%;
}

#text13 {
  top: 45%;
  right: -10%;
}

#text14 {
  top: 82%;
  left: 40%;
}

#a38 {
  top: 75%;
  right: 10%;
}

#a39 {
  top: 82%;
  right: 20%;
}

#a40 {
  top: 75%;
  left: 10%;
}

#a41 {
  top: 82%;
  left: 20%;
}

#a42 {
  top: 35%;
  left: -5%;
}

#a43 {
  top: 25%;
  left: -5%;
}

#a44 {
  top: 0%;
  left: 45%;
}

#a45 {
  top: 35%;
  right: -5%;
}

#a46 {
  top: 25%;
  right: -5%;
}

/* C-4 */

#text15 {
  top: 35%;
  left: 0%;
}

#text16 {
  top: 65%;
  left: -5%;
}

#text17 {
  top: -5%;
  left: -110%;
}

#text18 {
  top: -20%;
  left: 30%;
}

#text19 {
  top: 110%;
  left: 20%;
}

#text20 {
  top: 105%;
  left: -55%;
}

#text21 {
  top: 10%;
  left: -50%;
}

#a17 {
  top: 55%;
  left: 0%;
}

#a18 {
  top: 90%;
  left: 30%;
}

#a19 {
  top: 92%;
  left: 38%;
}

#a20 {
  top: 45%;
  left: 0%;
}

#a21 {
  top: -20%;
  left: 0%;
}

#a22 {
  top: 85%;
  left: -75%;
}

#a22 img {
  width: 320px;
}

#a23 {
  top: 75%;
  left: -75%;
}

#a23 img {
  width: 300px;
}

#a24 {
  top: 5%;
  left: -85%;
}

#a24 img {
  width: 320px;
}

#a25 {
  top: -5%;
  left: -90%;
}

#a25 img {
  width: 350px;
}

/* Bottom Layer */

/* C-5 */

#text22 {
  top: -10%;
  left: 0%;
}

#text23 {
  top: -10%;
  left: 45%;
}

#text24 {
  top: 5%;
  right: -25%;
}

#text25 {
  top: 40%;
  right: -20%;
}

#a10 {
  top: -80%;
  left: 20%;
}

#a10 img {
  width: 200px;
}

#a11 {
  top: -35%;
  left: 60%;
}

#a11 img {
  width: 350px;
}

#a12 {
  top: -20%;
  left: 60%;
}

#a12 img {
  width: 320px;
}

#a13 {
  top: 55%;
  right: -10%;
}

#a14 {
  top: 45%;
  right: -8%;
}

#a15 {
  top: 0%;
  left: 70%;
}

#a16 {
  top: -5%;
  left: 60%;
}

/* C-6 */

#text26 {
  top: 15%;
  left: -110%;
}

#text27 {
  top: 70%;
  left: -10%;
}

#text28 {
  top: -5%;
  left: 90%;
}

#text29 {
  top: 0%;
  left: 40%;
}

#text30 {
  top: 10%;
  left: -25%;
}

#a1 {
  top: -80%;
  left: 5%;
}

#a1 img {
  width: 180px;
}

#a2 {
  top: 5%;
  left: 20%;
}

#a3 {
  top: 0%;
  left: 30%;
}

#a4 {
  top: -5%;
  left: 70%;
}

#a5 {
  top: -5%;
  left: 65%;
}

#a6 {
  top: -15%;
  left: -70%;
}

#a6 img {
  width: 320px;
}

#a7 {
  top: -30%;
  left: -80%;
}

#a7 img {
  width: 350px;
}

#a8 {
  top: 45%;
  left: -10%;
}

#a9 {
  top: 55%;
  left: -8%;
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .parentSection h3 {
    font-size: 24px;
  }

  .circle {
    height: 275px;
    width: 275px;
  }
  .midLayer {
    margin-top: -105px;
  }

  .cThree {
    margin: 75px -55px -50px;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .circle {
    height: 275px;
    width: 275px;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .parentSection h3 {
    font-size: 14px;
  }

  .circle {
    height: 150px;
    width: 150px;
  }

  .cOne,
  .cTwo,
  .cThree,
  .cFour,
  .cFive,
  .cSix {
    background-size: 60px;
  }

  .smolText {
    font-size: 12px;
  }

  .midLayer {
    margin-top: -50px;
    margin-bottom: 0px;
  }

  .cThree {
    margin: 35px -35px -40px;
  }

  /* Top Layer */

  /* C-1 */

  #text1 {
    top: 65%;
    left: 20%;
  }

  .mFirstCTop {
    width: 75px;
  }

  #a35 .mFirstCBottom,
  #a37 .mFirstCBottom {
    width: 120px;
  }

  #a33 {
    top: 35%;
    left: 85%;
  }

  #a34 {
    top: 35%;
    right: 85%;
  }

  #a35 {
    top: 80%;
    left: 60%;
  }

  #a37 {
    top: 80%;
    right: 60%;
  }

  #a36 {
    top: 85%;
    left: 45%;
  }

  /* C-2 */

  .mTwo30 {
    width: 100px;
  }

  #a26 .mTwo26 {
    width: 160px;
  }

  #a27 .mTwo27 {
    width: 150px;
  }

  #a31 .mTwo31 {
    width: 150px;
  }

  #a32 .mTwo32 {
    width: 150px;
  }

  #text2 {
    top: -35%;
    left: 15%;
  }

  #text3 {
    top: -30%;
    left: 165%;
  }

  #text4 {
    top: 5%;
    left: 100%;
  }

  #text5 {
    top: 30%;
    left: 80%;
  }

  #text6 {
    top: 70%;
    left: 50%;
  }

  #text7 {
    top: 100%;
    left: 120%;
  }

  #text8 {
    top: 120%;
    left: 20%;
  }

  #a26 {
    top: 95%;
    left: 65%;
  }

  #a27 {
    top: 85%;
    left: 75%;
  }

  #a28 {
    top: 60%;
    left: 80%;
  }

  #a29 {
    top: 40%;
    left: 80%;
  }

  #a30 {
    top: -25%;
    left: 35%;
  }

  #a31 {
    top: 5%;
    left: 75%;
  }

  #a32 {
    top: -5%;
    left: 76%;
  }

  /* C-3 */

  .mThreeC {
    width: 40px;
  }

  .mThreeCBottom {
    width: 15px;
  }

  #text9 {
    top: -17%;
    left: 17%;
  }

  #text10 {
    top: 5%;
    left: -5%;
  }

  #text11 {
    top: 50%;
    left: -30%;
  }

  #text12 {
    top: 5%;
    right: -5%;
  }

  #text13 {
    top: 50%;
    right: -30%;
  }

  #text14 {
    top: 100%;
    left: 32%;
  }

  #a38 {
    top: 75%;
    right: 0%;
  }

  #a39 {
    top: 85%;
    right: 12%;
  }

  #a40 {
    top: 75%;
    left: 0%;
  }

  #a41 {
    top: 85%;
    left: 12%;
  }

  #a42 {
    top: 40%;
    left: -5%;
  }

  #a43 {
    top: 20%;
    left: -5%;
  }

  #a44 {
    top: 0%;
    left: 45%;
  }

  #a45 {
    top: 40%;
    right: -5%;
  }

  #a46 {
    top: 20%;
    right: -5%;
  }

  /* C-4 */

  .mFour1819 {
    width: 30px;
  }

  .mFour21 {
    width: 75px;
  }

  #a25 .mFour25 {
    width: 170px;
  }

  #a24 .mFour24 {
    width: 170px;
  }

  #a22 .mFour2223,
  #a23 .mFour2223 {
    width: 170px;
  }

  #text15 {
    top: 30%;
    left: 0%;
  }

  #text16 {
    top: 70%;
    left: 0%;
  }

  #text17 {
    top: -20%;
    right: 150%;
  }

  #text18 {
    top: -20%;
    left: 30%;
  }

  #text19 {
    top: 120%;
    left: 15%;
  }

  #text20 {
    top: 105%;
    left: -70%;
  }

  #text21 {
    top: 17%;
    left: -62%;
  }

  #a17 {
    top: 60%;
    left: 0%;
  }

  #a18 {
    top: 90%;
    left: 38%;
  }

  #a19 {
    top: 92%;
    left: 50%;
  }

  #a20 {
    top: 45%;
    left: 0%;
  }

  #a21 {
    top: -20%;
    left: 0%;
  }

  #a22 {
    top: 90%;
    left: -80%;
  }

  #a23 {
    top: 80%;
    left: -80%;
  }

  #a24 {
    top: 5%;
    left: -85%;
  }

  #a25 {
    top: -5%;
    left: -85%;
  }

  /* Bottom Layer */

  /* C-5 */

  #a10 .mFive10 {
    width: 100px;
  }

  #a13 .mFive1314,
  #a14 .mFive1314 {
    width: 50px;
  }

  #a15 .mFive1516,
  #a16 .mFive1516 {
    width: 30px;
  }

  #a11 .mFive11 {
    width: 180px;
  }

  #a12 .mFive12 {
    width: 170px;
  }

  #text22 {
    top: -10%;
    left: -20%;
  }

  #text23 {
    top: -13%;
    left: 35%;
  }

  #text24 {
    top: 5%;
    right: -60%;
  }

  #text25 {
    top: 65%;
    right: -40%;
  }

  #a10 {
    top: -90%;
    left: 20%;
  }

  #a11 {
    top: -30%;
    left: 60%;
  }

  #a12 {
    top: -15%;
    left: 60%;
  }

  #a13 {
    top: 62%;
    right: -17%;
  }

  #a14 {
    top: 49%;
    right: -15%;
  }

  #a15 {
    top: 0%;
    left: 70%;
  }

  #a16 {
    top: -5%;
    left: 60%;
  }

  /* C-6 */

  #a1 .mSix1 {
    width: 100px;
  }

  #a2 .mSix23,
  #a3 .mSix23 {
    width: 30px;
  }

  #a4 .mSix4 {
    width: 40px;
  }

  #a5 .mSix5 {
    width: 35px;
  }

  #a6 .mSix6 {
    width: 150px;
  }

  #a7 .mSix7 {
    width: 170px;
  }

  #text26 {
    top: 10%;
    right: 155%;
  }

  #text27 {
    top: 85%;
    left: -15%;
  }

  #text28 {
    top: 20%;
    left: 70%;
  }

  #text29 {
    top: -20%;
    left: 40%;
  }

  #text30 {
    top: 5%;
    left: -55%;
  }

  #a1 {
    top: -90%;
    left: -5%;
  }

  #a2 {
    top: 5%;
    left: 20%;
  }

  #a3 {
    top: 0%;
    left: 30%;
  }

  #a4 {
    top: -10%;
    left: 75%;
  }

  #a5 {
    top: -10%;
    left: 65%;
  }

  #a6 {
    top: -5%;
    left: -70%;
  }

  #a7 {
    top: -20%;
    left: -80%;
  }

  #a8 {
    top: 45%;
    left: -10%;
  }

  #a9 {
    top: 55%;
    left: -8%;
  }
}
